@font-face {
  font-display: swap;
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/CabinetGrotesk-Medium.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/CabinetGrotesk-Bold.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Quicksand-Regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Quicksand-SemiBold.woff2) format('woff2');
}