@import './fonts';

@import './globals';

%transition {
  transition: 250ms ease-out;
}

.main {
  @extend %transition;
  background-color: #fff;
  box-shadow: 2px 2px 5px #ddd, -2px 2px 5px #ddd;
  margin: 0 auto;
  max-width: 1024px;
  min-height: 100vh;
  padding: 0 0 4.125rem;

  &__header {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;

    .tile {
      background-color: #b8eeee;
      display: flex;
      margin: 0 0 0.25rem 0;
      padding: 1.25rem;

      &__img {
        align-items: center;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        margin: 0 1rem 0 0;
        width: 1.5rem;
      }

      &__details {
        flex-grow: 1;

        div {
          align-items: center;
          display: flex;
          justify-content: space-between;
        }

        h4 {
          @extend %transition;
          cursor: pointer;
          font-weight: 500;

          &:hover {
            color: rgba(#343434, $alpha: 0.75);

          }
        }
      }

      &__btn {
        .btn {
          &--close {
            border-radius: 0.375rem;
            font-size: 0.875rem;
            padding: 0.125rem 0.25rem;

            .btn__icon {
              margin: 0 0 0 0.125rem;
              transform: rotate(45deg);
              width: 1.0125rem;
            }
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    bottom: 0;
    max-width: 1024px;
    position: fixed;
    width: 100%;
  
    .btn {
      border-radius: 0;
      width: 100%;

      .btn__icon {
        margin: 0 0.5rem 0 0;
        width: 1.75rem;
      }

      &--cta {
        background-color: #4ad17a;
        color: #343434;
      }
      
      &--clear {
        background-color: #cf2828;
        color: #ffffff;

        .btn__icon {
          transform: rotate(45deg);
        }
      }
    }
  }

  &--blur {
    filter: blur(4px);
    overflow: hidden;
  }
}

.modal {
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding: 1.25rem;
  position: fixed;
  width: 100%;

  .wrap {
    &--form {
      background-color: #fff;
      border: 1px solid #555;
      border-radius: 0.5rem;
      margin: auto;
      max-width: 768px;
      padding: 0 1rem 1rem;
      width: 100%;

      form {
        width: 100%;

        .form-group {
          align-items: center;
          display: flex;
          justify-content: center;
          padding: 0.5rem 0;
    
          &__title {
            margin: 0 0.375rem 0 0;
          }
    
          &--one {
            margin: 0 0.5rem 0 0;
          }
    
          &--two {
            margin: 0 0 0 0.5rem;
          }
        }

        .btn {
          width: 100%;
    
          &--calc {
            background-color: #b8eeee;
          }

          &--close {
            border-radius: 100%;
            margin: 1rem 0 1rem auto;
            padding: 0.125rem;
            transform: rotate(45deg);
            width: auto;
          }
        }

        .grade {
          display: flex;
          flex-direction: column;
          margin: 0 0 0.75rem;
          padding: 0.5rem;
          width: 100%;

          &__info {
            display: flex;
            
            .form-group {
              width: 50%;
            }
          }
        }
      }
    }

    &--select,
    &--input {
      border: 1px solid #555;
      border-radius: 0.25rem;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    &--select {
      &::after {
        content: "⟩";
        font-weight: 700;
        position: absolute;
        right: 0.75rem;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
      }

      &.wrap--disabled {
        &::after {
          display: none;
        }
      }
    }

    &--btn {
      .form-group {
        width: 50%;
      }
    }

    &--courses {
      @extend %transition;
      background-color: #b8eeee41;
      flex-direction: column;
      margin: 1rem 0;
      padding: 0.75rem 0 0;
    }
  }

  &--visible {
    @extend %transition;
    opacity: 1;
    top: -50%;
    transform: translateY(50%);
  }
}

@media (min-width: 425px) {
  .modal {
    .wrap{
      &--form {
        width: 80%;
      }
    }
  }
}